= form_for(@pickup) do |f|
  - if @pickup.errors.any?
    #error_explanation
      %h2 
        = pluralize(@pickup.errors.count, "error")
        prohibited this pickup from being saved:
      %ul
        - @pickup.errors.full_messages.each do |message|
          %li
            = message
  .form-group
    = f.label :source_id
    .row
      .col-lg-10
        = f.collection_select :source_id, Place.all, :id, :name, {}, class: 'place-selection form-control'
      .col-lg-2
        = link_to 'new place', new_place_path(type: 'source'),  {id:"new_source_button" , class: "btn btn-primary", remote: true, 'data-toggle' =>  "modal", 'data-target' => '#new_place_remote'} 
  .form-group
    = f.label :destination_id
    .row
      .col-lg-10
        = f.collection_select :destination_id, Place.all, :id, :name, {}, class: 'place-selection form-control'
      .col-lg-2
        = link_to 'new place', new_place_path(type: 'destination'),  {id:"new_destination_button" , class: "btn btn-primary", remote: true, 'data-toggle' =>  "modal", 'data-target' => '#new_place_remote'} 
  .form-group#departure_container
    = f.label :departure_time
    = f.datetime_field :departure_time, class: 'form-control datepicker'

  .actions
    = f.submit "Create pickup", class: 'btn btn-default'